<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<% base_url = if Rails.env.production?
               ENV['REACT_APP_BASE_URL']
             else
               'http://localhost:3001'
             end %>
<p>Click the following link to reset your password:
    <a href="<%= "#{base_url}/resetPassword/#{@token}" %>">Reset Password</a>
    </p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
