<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Reset Your Password</h2>
    <p>Hello <%= @user.username %>,</p>
    <p>We received a request to reset your password. Click the link below to set a new password:</p>
    <p><a href="<%= @reset_password_url %>">Reset Password</a></p>
    <p>If you didn't request a password reset, you can ignore this email.</p>
    <p>Best regards,<br />Your Application Team</p>
  </body>
</html>
